{{#if this.saved}}
<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <a class="btn btn-success" data-id={{this.id}} data-saved="true">Add comment</a>
      </div>
      <div class="media-content">
        <p class="title is-4">{{this.title}}</a>
          <p class="summary is-4">{{this.summary}}</p>
          <p><a class="link is-4" href={{this.link}}></a></p>
      </div>
    </div>
  </div>
</div>
<br>
{{/if}}
