{{#if this.saved}}
<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <a class="btn btn-warning" data-id={{this.id}} data-saved="true">Remove</a>
        <a class="btn btn-success" data-id={{this.id}} data-saved="true">Add comment</a>
      </div>
      <div class="media-content">
        <p><a href={{this.link}} class="title is-4">{{this.title}}</a></p>
      </div>
    </div>
  </div>
</div>
<br>
{{/if}}