<div class="card">
    <div class="card-body">
        <button type="button" id="scrape" class="btn btn-primary">SCRAPE ARTICLES!</button>
        <button type="button" id="clear" class="btn btn-warning">CLEAR ALL ARTICLES!</button>
        <button type="button" id="save" class="btn btn-info">SAVED ARTICLES</button>
    </div>
</div>