h1,
h4 {
    color: #101010;
    text-align: center;
    margin-top: 2em;
    letter-spacing: 6px;
    font-weight: bold;
}

#nav {
    width: 100%;
}

#title {
    height: 100%;
    min-height: 100vh;
    padding-top: 3rem;

}

.container {
    border: 10px solid black;

}